:host ::ng-deep .p-submenu-header {
  padding: 0;
  border: none;
}

.medium {
  height: 50px;
  width: 50px;
}

.fill-white {
  fill: white;
}

.stroke-white {
  background: #ffffff;
}

.thin {
  stroke-width: 0px;
}

.background {
  background-color: #0e588d;
}