<p-menu #menu [model]="items" styleClass="py-2">
  <ng-template pTemplate="start" let-item>
    <div class="flex justify-content-center px-4 py-2">
      <div class="border-round background px-2 py-1">
        <i-tabler name="truck" class="fill-white medium thin"></i-tabler>
      </div>
    </div>
    <p-divider></p-divider>
  </ng-template>
  <ng-template pTemplate="item" let-item let-index>
    <div class="flex align-items-center gap-2 px-4 py-2 cursor-pointer">
      <i-tabler
        *ngIf="item.tablerIcon"
        [name]="item.tablerIcon"
        size="18"
      ></i-tabler>
      <span>{{ item.label }}</span>
    </div>
  </ng-template>
</p-menu>
