<div class="hidden md:block w-18rem">
  <p-menu [model]="items" styleClass="w-full py-2 shadow-1">
    <ng-template pTemplate="start">
      <div class="flex justify-content-center px-4 py-2">
        <div
          class="flex align-items-center gap-2 px-3 py-2 border-round-lg bg-primary shadow-2"
        >
          <div
            class="flex align-items-center justify-content-center bg-white border-round-md"
            style="width: 36px; height: 36px"
          >
            <i-tabler name="truck" class="text-primary"></i-tabler>
          </div>

          <div class="line-height-1">
            <div class="text-white font-semibold text-sm">WK Technology</div>
            <div class="text-white-alpha-80 text-xs">Delivery</div>
          </div>
        </div>
      </div>
      <p-divider></p-divider>
    </ng-template>

    <ng-template pTemplate="item" let-item>
      <div class="flex align-items-center gap-2 px-4 py-2 cursor-pointer">
        <i-tabler
          *ngIf="item.tablerIcon"
          [name]="item.tablerIcon"
          size="18"
        ></i-tabler>
        <span>{{ item.label }}</span>
      </div>
    </ng-template>
  </p-menu>
</div>

<p-sidebar
  [(visible)]="mobileMenuVisible"
  [fullScreen]="true"
  position="left"
  class="md:hidden"
>
  <div class="flex justify-content-center px-4 py-2">
    <div
      class="flex align-items-center gap-2 px-3 py-2 border-round-lg bg-primary shadow-2"
    >
      <div
        class="flex align-items-center justify-content-center bg-white border-round-md"
        style="width: 36px; height: 36px"
      >
        <i-tabler name="truck" class="text-primary"></i-tabler>
      </div>

      <div class="line-height-1">
        <div class="text-white font-semibold text-sm">WK Technology</div>
        <div class="text-white-alpha-80 text-xs">Delivery</div>
      </div>
    </div>
  </div>
  <p-divider></p-divider>
  <div *ngFor="let item of items">
    <div
      *ngIf="item"
      class="flex align-items-center gap-2 px-4 py-2 cursor-pointer"
      (click)="menuItemMobile(item); mobileMenuVisible = false"
    >
      <i-tabler
        *ngIf="item.tablerIcon"
        [name]="item.tablerIcon"
        size="18"
      ></i-tabler>
      <span>{{ item.label }}</span>
    </div>
  </div>
</p-sidebar>

<p-button
  class="md:hidden"
  styleClass="p-button-secondary mt-2"
  [text]="true"
  icon="pi pi-bars"
  (click)="mobileMenuVisible = true"
></p-button>
